<div <TMPL_IF ID>id="<TMPL_VAR ID ESCAPE=HTML>"</TMPL_IF> class="feedlink text-right">
    <TMPL_IF RSSURL>
        <a class="label label-warning feedbutton" type="application/rss+xml" rel="alternate" title="<TMPL_VAR RSSDESC>" href="<TMPL_VAR RSSURL>">RSS</a>
    </TMPL_IF>
    <TMPL_IF ATOMURL>
        <a class="label label-primary feedbutton" type="application/atom+xml" rel="alternate" title="<TMPL_VAR ATOMDESC>" href="<TMPL_VAR ATOMURL>">Atom</a>
    </TMPL_IF>
</div>
<div class="spacer"></div>
