# <TMPL_VAR NAME=alt>

<img src="<TMPL_VAR NAME=imglink>" width="<TMPL_VAR NAME=width>" 
     height="<TMPL_VAR NAME=height>" alt="<TMPL_VAR NAME=alt>" />
<br />
<TMPL_LOOP NAME=sizes>[[<TMPL_VAR NAME=dimensions>|<TMPL_VAR NAME=htmllink>]] </TMPL_LOOP>
