<form method="get" action="<TMPL_VAR SEARCHACTION>" id="searchform">
<div>
<input type="text" id="searchbox" name="P" value="" size="16"
<TMPL_IF HTML5>placeholder="search"</TMPL_IF> />
</div>
</form>
